<!DOCTYPE html>
<% include templates/head.ejs %>
<head>
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<script>
        var renderPackage = <%- JSON.stringify(renderPackage) %>;
</script>
<html lang="en">
	<% include templates/sidebars.ejs %>
    <!-- Use any element to open the sidenav -->
		
	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="wrapper">
		<div id = "page-content-wrapper">
            <div class="container-fluid">
            	<div class="row">
				    <div id="intro-column" class="col-sm">
				    	<div class="typewriter">
				    		<h1>Welcome, <%=renderPackage.name%></h1>
				    	</div>
				    	<h3> Your Authorized ID is: <%=renderPackage.oauthID%></h3>
				    </div>
				</div>
				<div class="row">
				    <div id="welcome-column" class="col-sm">
				    	<h2> Your Registered Applications: </h2>
				    	<form method="post">
						  	<div class="form-group">
						    	<label for="name">New Application Name</label>
						    	<input type="text" name="name" value="" />
						  	</div>
						  	<button type="submit" class="btn btn-primary">Add an Application</button>
						</form>
				    </div>
				    <div id="info-column" class="col-sm">
				    	<p> Your Applications : </p>
				    	<ul>
				    		<% for(var i = 0; i < renderPackage.applications.length; ++i) {%>
				    			<form method="post">
					    			<div class="form-group">
		                                <li> 
		                                	<%-renderPackage.applications[i].name%> : <%-renderPackage.applications[i]._id%>
		                                	<input type="submit" name="<%-renderPackage.applications[i].name%>" value="Delete" />
		                                </li>
		                            </div>
		                        </form>
                        	<% } %>
                        <ul>
                    		<% for(var j = 0; j < renderPackage.applications[i].images.length; ++j) {%>
	                    		<form method="post">
					    			<div class="form-group">
		                                <li> 
		                                	<%-renderPackage.applications[i].images[j].name%> : <%-renderPackage.applications[i].images[j]._id%>
		                                	<input type="submit" name="<%-renderPackage.applications[i].images[j].name%>" value="Delete" />
		                                </li>
		                            </div>
	                        	</form>
	                    	<% } %>
                    	</ul>
                            
                        </ul>
				    </div>
				</div>					
			</div>
		</div>
	</div>
</html>