<!DOCTYPE html>
<% include templates/head.ejs %>
<head>
	<link rel="stylesheet" href="/stylesheets/viewProfile.css">
</head>
<script>
        var renderPackage = <%- JSON.stringify(renderPackage) %>;
        function submitForm(action) {
		    var form = document.getElementById('form1');
		    form.action = action;
		    form.submit();
		}
</script>
<html lang="en">
	<% include templates/sidebars.ejs %>
    <!-- Use any element to open the sidenav -->
		
	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="wrapper">
		<div id = "page-content-wrapper">
            <div class="container-fluid">
            	<div class="row">
				    <div id="intro-column" class="col-sm">
				    	<div class="typewriter">
				    		<h1>Welcome, <%=renderPackage.name%></h1>
				    	</div>
				    	<h3> Your Authorized ID is: <%=renderPackage.oauthID%></h3>
				    </div>
				</div>
				<div class="row">
				    <div id="welcome-column" class="col-sm-4">
				    	<h2> Application Management </h2>
				    	<form method="post">
						  	<div class="form-group">
						    	<label for="name">New Application Name</label>
						    	<input type="text" name="name_app" value="" />
						  	</div>
						  	<button name="action" class="btn btn-primary" type="submit" value="app.create">Add New Application</button>
						</form>
				    </div>
				    <div id="info-column" class="col-sm-8">
				    	<h5> Your Applications: </h5>
				    	<ul>
				    		<% for(var i = 0; i < renderPackage.applications.length; ++i) {%>
					    		<button class="accordion"><%-renderPackage.applications[i].name%> : <%-renderPackage.applications[i]._id%></button>
								<div class="panel">
					    			<form method="post">
						    			<div class="form-group">
			                                <li> 
			                                	<button name="action" class="btn btn-danger" type="submit" value="app.delete.<%-renderPackage.applications[i]._id%>">Delete</button>
			                                	<button name="action" class="btn btn-primary type="submit" value="image.create.<%-renderPackage.applications[i]._id%>">Add Image</button>
			                                	<input type="text" name="name<%-renderPackage.applications[i]._id%>" value=""/>
			                                </li>
			                            </div>
			                        </form>
			                        <ul>
			                    		<% for(var j = 0; j < renderPackage.applications[i].images.length; ++j) {%>
			                    			<button class="accordion-child"><%-renderPackage.applications[i].images[j].name%> : <%-renderPackage.applications[i].images[j]._id%></button>
											<div class="panel">
					                    		<form method="post">
									    			<div class="form-group">
						                                <li> 
						                                	<button name="action" class="btn btn-danger" type="submit" value="image.delete.<%-renderPackage.applications[i].images[j]._id%>">Delete</button>
						                                	<button name="action" class="btn btn-success" type="submit" value="image.download.<%-renderPackage.applications[i].images[j]._id%>">Download</button>
						                                </li>
						                            </div>
					                        	</form>
					                        </div>
				                    	<% } %>
			                    	</ul>
			                    </div>
                        	<% } %>
                        </ul>
				    </div>
				</div>					
			</div>
		</div>
	</div>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  	acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight){
			      	panel.style.maxHeight = null;
			    } else {
			      	panel.style.maxHeight = panel.scrollHeight + "px";
			    } 
		  	});
		}
		acc = document.getElementsByClassName("accordion-child");

		for (i = 0; i < acc.length; i++) {
		  	acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight){
			      	panel.style.maxHeight = null;
			    } else {
			      	panel.style.maxHeight = panel.scrollHeight + "px";
			    } 
		  	});
		}
	</script>
</html>